table, th, td {
  border: 2px solid rgb(25, 70, 24);
  border-collapse: collapse;
  
}
td:nth-child(even), th:nth-child(even) {
  background-color: #c4d389;
}

table {
  font-family:  "Lucida Console", "Courier New", monospace;
  border-collapse: collapse;
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
}

.box {
  background-color: rgb(170, 221, 151);
  color: rgb(0, 0, 0);
  border: 4px dashed rgb(116, 144, 84);
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  padding: 20px;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

body {
  background-color: #8FBC8F;
}

h1 {
  color: #8e0367;
  text-align: center;
  text-shadow: 2px 2px 6px #417546;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-bottom: 50px;
}

h2 {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

p {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
  text-align: left;
}
  /*
  text-align: center;
  border: 7px dotted #ddbc58;
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 50px
}
*/